@keyframes omhoog {
  0% {
    transform: none;
  }
  100% {
    transform: rotateX(8turn) rotateY(0turn);
  }
}
@keyframes links {
  0% {
    transform: none;
  }
  100% {
    transform: rotateX(0turn) rotateY(-8turn);
  }
}
@keyframes omlaag {
  0% {
    transform: none;
  }
  100% {
    transform: rotateX(-8turn) rotateY(0turn);
  }
}
@keyframes rechts {
  0% {
    transform: none;
  }
  100% {
    transform: rotateX(0turn) rotateY(8turn);
  }
}

section {
  height: 100vh;

  display: grid;
  place-items: center;

  transform-style: preserve-3d;
  /* perspective: 30em; */
  animation-play-state: paused;
}

h1 {
  font-family: "Poppins";
  font-weight: 1000;
  font-size: calc(1.5vw + 1.5vh + 1.5vmin);
}

label {
  display: flex;
  width: calc(2vw + 2vmin);
  height: calc(2vw + 2vmin);
  font-size: calc(1vw + 1vh + 1vmin);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  border: 2.5px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #00000050;
  justify-content: center;
  align-items: center;
}

label:hover {
  background-color: #9aafe0;
  color: white;
}
label:active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(1.8vw + 1.8vmin);
  height: calc(1.8vw + 1.8vmin);
  background-color: #4f78d6;
  color: white;
}

label:first-of-type {
  position: absolute;
  top: calc(3.5vh + 3.5vmin);
  left: calc(3.5vh + 3.5vmin);
}
label:nth-of-type(2) {
  position: absolute;
  top: calc(6.5vh + 6.5vmin);
  left: calc(7vh + 7vmin);
}
label:nth-of-type(3) {
  position: absolute;
  top: calc(6.5vh + 6.5vmin);
  left: calc(3.5vh + 3.5vmin);
}
label:nth-of-type(4) {
  position: absolute;
  top: calc(6.5vh + 6.5vmin);
}

label:nth-of-type(5) {
  position: absolute;
  top: calc(3.5vh + 3.5vmin);
  background-color: #b71234;
  color: white;
}

input[type="radio"] {
  position: absolute;
  left: -1000em;
}
input[type="checkbox"] {
  position: absolute;
  left: -1000em;
}

#up:checked ~ section {
  animation-play-state: running;
  animation: omhoog 100s linear infinite;
}
#right:checked ~ section {
  animation-play-state: running;
  animation: rechts 100s linear infinite;
}
#bottom:checked ~ section {
  animation-play-state: running;
  animation: omlaag 100s linear infinite;
}
#left:checked ~ section {
  animation-play-state: running;
  animation: links 100s linear infinite;
}
#pause:checked ~ section {
  animation-play-state: paused;
}
label span:last-of-type {
  display: none;
}
#pause:checked ~ label span:last-of-type {
  display: inline;
}
#pause:checked ~ label span:first-of-type {
  display: none;
}

/* Rotation hover */

#right-bottom:hover ~ section ul:nth-child(-n + 9) {
  --rY: 90deg;
}
#left-bottom:hover ~ section ul:nth-child(-n + 9) {
  --rY: -90deg;
}

#right-middle:hover ~ section ul:nth-child(-n + 18):not(:nth-child(-n + 9)) {
  --rY: 90deg;
}
#left-middle:hover ~ section ul:nth-child(-n + 18):not(:nth-child(-n + 9)) {
  --rY: -90deg;
}

#right-top:hover ~ section ul:nth-child(-n + 27):not(:nth-child(-n + 18)) {
  --rY: 90deg;
}
#left-top:hover ~ section ul:nth-child(-n + 27):not(:nth-child(-n + 18)) {
  --rY: -90deg;
}

#up-right:hover ~ section ul:nth-child(3n) {
  --rX: 90deg;
}
#down-right:hover ~ section ul:nth-child(3n) {
  --rX: -90deg;
}

#up-left:hover ~ section ul:nth-child(3n + 1) {
  --rX: 90deg;
}
#down-left:hover ~ section ul:nth-child(3n + 1) {
  --rX: -90deg;
}

#up-middle:hover ~ section ul:nth-child(3n + 2) {
  --rX: 90deg;
}
#down-middle:hover ~ section ul:nth-child(3n + 2) {
  --rX: -90deg;
}
/* section:hover ul:nth-child(-n + 9):not(:nth-child(-n + 6)) {
  --rZ: -90deg;
} */

/* Up */
label:nth-of-type(6) {
  position: absolute;
  top: calc(12vh + 12vmin);
  left: calc(17.5vw + 17.5vmin);
}
label:nth-of-type(7) {
  position: absolute;
  top: calc(12vh + 12vmin);
  left: calc(23.5vw + 23.5vmin);
}
label:nth-of-type(8) {
  position: absolute;
  top: calc(12vh + 12vmin);
  left: calc(29.5vw + 29.5vmin);
}

/* Right */
label:nth-of-type(9) {
  position: absolute;
  top: calc(22vh + 22vmin);
  right: calc(6.5vw + 6.5vmin);
}
label:nth-of-type(10) {
  position: absolute;
  top: calc(28vh + 28vmin);
  right: calc(6.5vw + 6.5vmin);
}
label:nth-of-type(11) {
  position: absolute;
  top: calc(36vh + 36vmin);
  right: calc(6.5vw + 6.5vmin);
}

/* Down */
label:nth-of-type(12) {
  position: absolute;
  bottom: calc(6.5vh + 6.5vmin);
  left: calc(29.5vw + 29.5vmin);
}
label:nth-of-type(13) {
  position: absolute;
  bottom: calc(6.5vh + 6.5vmin);
  left: calc(23.5vw + 23.5vmin);
}
label:nth-of-type(14) {
  position: absolute;
  bottom: calc(6.5vh + 6.5vmin);
  left: calc(17.5vw + 17.5vmin);
}

/* Left */
label:nth-of-type(15) {
  position: absolute;
  top: calc(36vh + 36vmin);
  left: calc(6.5vw + 6.5vmin);
}
label:nth-of-type(16) {
  position: absolute;
  top: calc(28vh + 28vmin);
  left: calc(6.5vw + 6.5vmin);
}
label:last-of-type {
  position: absolute;
  top: calc(22vh + 22vmin);
  left: calc(6.5vw + 6.5vmin);
}
